.DS_Store


output/
examples/2dturbulence/*out
examples/2dturbulence/experiments
examples/2dturbulence/*sh
examples/uniform/*sh
examples/uniform/experiments
*~
*.png
*.nc 
*.txt
*.jld2
*.h5
*.hdf5
*.jpg
*.jpeg
*.gif
*.bmp
*.ico
*.svg
*.bson
*.sh
*.out
